Provisioning_with_Ansible/Aws_Ec2_Instance_creation/ec2_create/vars/secrets.yml
Provisioning_with_Ansible/Assignment/Assignment_role/vars/secrets.yml
Provisioning_with_Ansible/Aws_Ec2_Instance_creation/ec2_create/vars/.vault_pass.txt
